<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords"
            content="PC PartsPicker, magazin, PC, laptop, computer, componente, easybox, Bucuresti, Sector 4" />
        <meta name="description"
            content="PC PartsPicker - Magazin fizic si online pentru vanzare componente sau sisteme de tip PC / laptop + livrare prin intermediul easybox sau ridicare personala din Bucuresti, Sector 4." />
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>PC PartsPicker - cos virtual</title>
        <%- include("../fragmente/head") %>
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>

        <button id="cumpara">
            Cumpara
        </button>

    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>