<footer>
    <div id="footer-grid">
        <a href="#" title="mergi sus" id="link-top">
            <p>&#8593;</p>
        </a>
        <div id="footer-div">
            <div class="column">
                <strong>
                    <a href="./resurse/Terms_of_Use.pdf" download="Terms_of_Use.pdf">Terms of Use</a>
                </strong>
                <strong>
                    <a href="./resurse/Privacy_Policy.pdf" download="Privacy_Policy.pdf">Privacy Policy</a>
                </strong>
                <strong>
                    <a href="https://anpc.ro/" target="_blank">ANPC</a>
                </strong>
                <strong>
                    <a href="#">Politica de returnare</a>
                </strong>
            </div>
            <div class="column">
                <address>
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica"
                        target="_blank">Facultatea
                        de
                        Matematică și Informatică</a>
                    <br>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972.9200572483185!2d26.099762589911805!3d44.43570100521413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1710759601031!5m2!1sro!2sro"
                        width="300" height="200" style="border:0; margin-top: 10px;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <br />
                </address>
            </div>
            <div id="contact" class="column">
                <strong>Contactați-ne:</strong>
                <br />


                <a href="tel:+40123456789"><i class="fa-solid fa-phone-volume"></i> +40 123 456 789</a>
                <br />

                <a href="mailto:contact@pcpartspicker.ro">
                    <i class="fa-solid fa-envelope"></i>contact@pcpartspicker.ro</a>
                <br />

                <a href="skype:live:example?chat"><i class="fa-brands fa-skype"></i>Skype</a>
                <br />
                <a href="https://wa.me/40123456789" target="_blank"><i
                        class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            </div>
        </div>

        <div class="center-text">
            <small><b>&copy; 2024</b>
                <span>PC PartsPicker Toate drepturile rezervate.</span></small><br />
            Data creării paginii:
            <time datetime="2024-03-01">1 Martie 2024</time>
        </div>
    </div>
</footer>