<div style="display: flex; justify-content: center; align-items: center;">
    <link rel="stylesheet" href="/resurse/css/galerie_dinamica.css">
    <div class="dynamic-gallery"></div>
    <script src="resurse/js/galerie_dinamica.js"></script>
</div>