<!-- <header>
    <script src="./resurse/js/mobile_nav.js"></script>
    <img src="./resurse/imagini/gpu_medium.jpg" alt="logo" id="site-logo" />
    <h1>PC PartsPicker</h1>
    <nav>
        <ul style="align-self: flex-start;" id="mobile-nav">
            <ul id="nav-dropdown">
                <li class="nav-item">
                    <a href="#welcome">Acasa</a>
                </li>
                <li class="nav-item">
                    <a href="#procesoare">Produse</a>
                </li>
                <li class="nav-item">
                    <a href="#orar">Orar</a>
                </li>
                <li class="nav-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </ul>
        <ul style="align-self: flex-end;" id="desktop-nav">
            <li class="nav-item">
                Acasa
                <ul>
                    <li><a href="#welcome">Bine ati venit</a></li>
                    <li><a href="#oferte">Oferte</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                </ul>
            </li>
            <li class="nav-item">
                Produse
                <ul>
                    <li><a href="#procesoare">Procesoare</a></li>
                    <li><a href="#placi-video">Placi Video</a></li>
                    <li><a href="#placi-de-baza">Placi de Baza</a></li>
                    <li><a href="#memorii">Memorii</a></li>
                    <li><a href="#stocare">Stocare</a></li>
                    <li><a href="#sursa">Sursa</a></li>
                    <li><a href="#carcase">Carcase</a></li>
                    <li><a href="#cooling">Cooling</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#orar">Orar</a>
            </li>
            <li class="nav-item">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header> -->
<header>
<script src="./resurse/js/mobile_nav.js"></script>
    <nav class="topnav" id="myTopnav">
        <img onclick="myFunction()" src="./resurse/imagini/gpu_medium.jpg" alt="logo" id="site-logo" />

        <div class="dropdown">
            <button class="dropbtn">Acasa
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#welcome">Bine ati venit</a>
                <a href="#oferte">Oferte</a>
                <a href="#anunturi">Anunturi</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Produse
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#procesoare">Procesoare</a>
                <a href="#placi-video">Placi Video</a>
                <a href="#placi-de-baza">Placi de Baza</a>
                <a href="#memorii">Memorii</a>
                <a href="#stocare">Stocare</a>
                <a href="#sursa">Sursa</a>
                <a href="#carcase">Carcase</a>
                <a href="#cooling">Cooling</a>
            </div>
        </div>
        <a href="#orar" class="nav-item">Orar</a>
        <a href="#contact" class="nav-item">Contact</a>
        <!-- <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        </div>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
    </nav>
</header>