<header>
  <script src="./resurse/js/mobile_nav.js"></script>

  <input type="checkbox" id="menuToggle" />
  <label for="menuToggle" class="menu-icon">
    <img src="./resurse/imagini/gpu_medium.jpg" alt="logo" id="site-logo" />
  </label>
  <nav class="topnav" id="topNav">
    <!-- <img
      onclick="myFunction()"
      src="./resurse/imagini/gpu_medium.jpg"
      alt="logo"
      id="site-logo"
    /> -->
    <div id="test">
      <div class="dropdown">
        <button class="dropbtn">
          Acasa
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#welcome">Bine ati venit</a>
          <a href="#oferte">Oferte</a>
          <a href="#anunturi">Anunturi</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Produse
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#procesoare">Procesoare</a>
          <a href="#placi-video">Placi Video</a>
          <a href="#placi-de-baza">Placi de Baza</a>
          <a href="#memorii">Memorii</a>
          <a href="#stocare">Stocare</a>
          <a href="#sursa">Sursa</a>
          <a href="#carcase">Carcase</a>
          <a href="#cooling">Cooling</a>
        </div>
      </div>
      <a href="#orar" class="nav-item">Orar</a>
      <a href="#contact" class="nav-item">Contact</a>
    </div>
  </nav>
</header>
